doctype html
html(lang="en")
  head
    title= title
    base(href="/crouton")
    //css import
    each file in css
      link(rel='stylesheet', href=file)
  body(ng-app='Crouton')
    #crouton-site
      crouton-nav
      crouton-container
        p crouton loading...

    //js imports
    //external
    each file in jsExternal
      script(src=file)
    //app
    each file in jsApp
      script(src=file)
    //ui elements
    each file in jsDashboard
      script(src=file)
